<% provide(:title, "Home") %>
<div class="container">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="big-card">
        <a href="#" class="big-title">
          <img src="assets/stories/ (1).jpg" alt="Avatar" class="image-size">
          <div class="big-title">
            <p>Architect & Engineer</p>
          </div>
        </a> 
      </div>
    </div>
    
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#" >
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#" >
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#">
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#" >
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#" >
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#" >
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#">
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#" >
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#" >
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#" >
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#" >
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="card">
              <a href="#" >
                <img src="https://sachvui.com/cover/2018/dau-pha-thuong-khung.jpg" alt="Avatar" class="image-size">
                <div class="title">
                  <p>Architect & Engineer</p>
                </div>
              </a> 
            </div>
          </div>
        </div>

    </div>
  </div>

</div>
