// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

/* header */

.bg-navbar {
  background-color: darkslategrey;
}
.bg-but {
  background-color: darkslategrey;
  color: white;
}

.header-logo {
  display: block;
  width: 196px;
  height: 36px;
  background: url(//static.8cache.com/img/spriteimg_new_white_op.png) no-repeat 0 0;
  text-indent: -9999px;
  white-space: nowrap;
  outline: none;
  margin: 5px 5px 0 0;
}

/* hot story */
.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: auto;
  background-color: black;
  margin-bottom: 20px;
}

.image-size{
 width: 100%;
 height: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
}
.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #f4f4f4;
  background-color: rgba(0,0,0,0.6);
  padding: 5px 0;
  text-shadow: 1px 2px 2px #000;
  font-size: 12px;
  display: block;
  margin-top: 2px;
  text-align: center;
  font-family: 'Roboto Condensed',Tahoma,sans-serif;
}
.big-card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 93%;
  height: 330px;
  background-color: black;
  margin-top: 20px;
}
.big-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
}
.big-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #f4f4f4;
  background-color: rgba(0,0,0,0.6);
  padding: 5px 0;
  text-shadow: 1px 2px 2px #000;
  font-size: 25px;
  display: block;
  margin-top: 2px;
  text-align: center;
  font-family: 'Roboto Condensed',Tahoma,sans-serif;
}
.image-size{
  width: 100%;
  height: 100%;
}

/* Footer */
.footer {
  background: rgba(255, 255, 255, .1);
  color: white;
  
  .links {
    ul {
        list-style-type: none;
    }
    li a {
        color: white;
        transition: color .2s;
        &:hover {
            text-decoration: none;
            color: #4180cb;
        }
    }
  }
  .about-company {
    i {
        font-size: 25px;
    }
    a {
        color: white;
        transition: color .2s;
        &:hover {
            color: #4180cb;
        }
    }
  }
  .location {
    i {
        font-size: 18px;
    }
  }
  .copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
  }
}